<div class="container mt-5">
	<% if user_signed_in? %>
	  <% @posts.each do |post|%>
    <div class="d-flex justify-content-center row mb-3">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><%= find_user(post.user_id)%></span><span class="date text-black-50">Shared publicly - <%= post.created_at%></span></div>
                    </div>
                    <div class="mt-2">
                    		<p><b>Title : </b><%= post.title%></p>
                        <p class="comment-text"><b>Body : </b><%= post.body %></p>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i>
                        	<span class="ml-1">
                        		<div id="like_or_unlike_<%= post.id%>">
		  													<%= render 'likes/like', post:post%>
		  											</div>
		  										</span>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start">
                    	<%= form_for Comment.new, remote:true do |f| %>
									      <%= f.hidden_field :user_id , value:current_user.id %>
									      <%= f.hidden_field :post_id, value:post.id %>
									      <div class="field">
									      <%= f.text_field :comment, class:"form-control shadow-none" %>
									      </div>
									      <div class="actions">
									      	<%= f.submit "Post Comment",class:"btn btn-primary btn-sm shadow-none mt-1"%>
							      		</div>
						      		<% end %>
                    </div>
                    <div> 
								      	<h5>comments : </h5>       
										  	<% post.comments.each do |c|%>
										  			<li><%= c.comment %></li>
										  	<% end %>
									  	</div>
                 	</div>
                </div>
            </div>
        </div>
    </div>
  <% end %>
  <% end %>
</div>
