<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<% if user_signed_in? %>
		<div class="mb-1 pr-5">
			<strong class="text-light"><%= current_user.email%></strong>
		</div><br>
  	<div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
      	<li class="nav-item pr-3">
	  			<%= link_to 'new photo', new_photo_path %>
	  		</li>

	  		<li class="nav-item pr-3">
	 				<%= link_to 'Edit profile', edit_user_registration_path %>
	 			</li>

	  		<li class="nav-item pr-3">
	  			<%= link_to "Logout", destroy_user_session_path, method: :delete  %>
	  		</li>
	<% else %>
		<li class="nav-item pr-3">
	  	<%= link_to "Sign up", new_user_registration_path  %>
		</li>

	  <li class="nav-item pr-3">
	  	<%= link_to "Login", new_user_session_path  %>
	  </li>	
	<% end %>
	</ul>
	</div>
</nav>